@{
    ViewBag.Title = "Contact";
}
@model List<MongoWeb.Models.Json.Camp>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@foreach (var u in Model)
{
    <p>@u.code @u.name - @u.address</p>
}